# Include the README
include *.md

# Include the license file
include LICENSE.txt

recursive-include python_telegram *.py
recursive-include python_telegram/lib *
recursive-include docs *

global-exclude *.pyc
